@import "reset";
@import "commonHF";

// container start
#container.new {
    .cont1 {
        width: 100%;
        height: 333px;
        background-image: url(../img/menu/subBg_new.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        font-family: 'Poppins', sans-serif;

        h1 {
            padding: 180px 0 10px;
            font-size: 50px;
            font-weight: 500;
            color: #fff;
        }

        p {
            color: #ddd;
        }
    }

    .cont2 {
        font-family: 'Poppins', sans-serif;


        .menuWrap {
            display: flex;
            justify-content: center;
            border: 1px solid #ccc;

            .center {
                width: 900px;

                .menus {
                    display: flex;

                    li {
                        width: 16.666666%;

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 60px;
                            font-size: 15px;
                            color: #62605f;
                        }
                    }

                    li.on {
                        border-bottom: 3px solid #EA094B;

                        a {
                            color: #191919;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .productWrap {
            display: flex;
            justify-content: center;
            padding-bottom: 50px;
            background: linear-gradient(to bottom, #fff 27%,
                    #f0dec8 27%);

            .center {
                width: 1300px;
                position: relative;

                .prdMenus {
                    display: flex;
                    justify-content: center;
                    margin: 50px 0;

                    li {
                        margin: 0 20px;

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100px;
                            height: 40px;
                            color: #62605f;
                            font-size: 15px;
                            border: 1px solid #ddd;
                            border-radius: 20px;
                        }
                    }

                    li.on {
                        a {
                            background-color: #EA094B;
                            color: #fff;
                        }
                    }
                }

                .prds {
                    display: flex;
                    width: 1400px;
                    flex-wrap: wrap;

                    .all {
                        width: 400px;
                        height: 450px;
                        position: relative;
                        margin: 0 20px 120px;
                        cursor: pointer;

                        img {
                            width: 100%;
                        }

                        .type {
                            position: absolute;
                            left: 0;
                            bottom: 68px;
                            width: 100px;
                            height: 50px;
                            background-color: #EA094B;
                            color: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .textWrap {
                            padding: 20px 30px;
                            height: 130px;
                            background-color: #fff;

                            span {
                                display: block;
                                text-align: end;
                            }

                            h2 {
                                font-size: 25px;
                                font-weight: 600;
                                padding: 20px 0;
                            }

                            p {
                                font-size: 15px;
                                line-height: 20px;
                            }
                        }

                        &:nth-child(7) {
                            .textWrap>h2 {
                                font-size: 23px;
                            }
                        }
                    }

                }
            }
        }
    }
}
#container.coffee{
    .cont1 {
        width: 100%;
        height: 333px;
        background-image: url(../img/menu/subBg_coffee.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        font-family: 'Poppins', sans-serif;

        h1 {
            padding: 180px 0 10px;
            font-size: 50px;
            font-weight: 500;
            color: #fff;
        }

        p {
            color: #ddd;
        }
    }
    .cont2 {
        font-family: 'Poppins', sans-serif;
        .menuWrap {
            display: flex;
            justify-content: center;
            border: 1px solid #ccc;

            .center {
                width: 900px;

                .menus {
                    display: flex;

                    li {
                        width: 16.666666%;

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 60px;
                            font-size: 15px;
                            color: #62605f;
                        }
                    }

                    li.on {
                        border-bottom: 3px solid #EA094B;

                        a {
                            color: #191919;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .productWrap {
            display: flex;
            justify-content: center;
            padding: 70px 0;
            .center {
                width: 1250px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .box {
                    width: 276px;
                    text-align: center;
                    margin-bottom: 50px;
                    position: relative;
                    
                    .best {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        z-index: 5;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        color: #fff;
                        background-color:#382E2C;
                    }
                    
                    .imgWrap {
                        width: 276px;
                        height: 276px;
                        border-radius: 50%;
                        border: 5px solid #fff;
                        overflow: hidden;
                        position: relative;
                        transition: all .5s;
                        cursor: pointer;
                        img {
                            width: 100%;
                            object-fit: cover;
                            transition: all .5s;
                        }

                        &:hover {
                            border: 5px solid #987346;
                            img {
                                transform: scale(1.2);
                            }
                        }
                    }
                    h2 {
                        font-size: 20px;
                        font-weight: 400;
                        color: #382E2C;
                        margin: 20px 0 5px;
                        font-family: 'Noto Sans KR', sans-serif;
                    }
                    span {
                        font-size: 15px;
                        color: #987346;
                    }
                }
            }
        }
    }
}
#container.beverage{
    .cont1 {
        width: 100%;
        height: 333px;
        background-image: url(../img/menu/subBg_beverage.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        font-family: 'Poppins', sans-serif;

        h1 {
            padding: 180px 0 10px;
            font-size: 50px;
            font-weight: 500;
            color: #fff;
        }

        p {
            color: #ddd;
        }
    }

    .cont2 {
        font-family: 'Poppins', sans-serif;
        .menuWrap {
            display: flex;
            justify-content: center;
            border: 1px solid #ccc;

            .center {
                width: 900px;

                .menus {
                    display: flex;

                    li {
                        width: 16.666666%;

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 60px;
                            font-size: 15px;
                            color: #62605f;
                        }
                    }

                    li.on {
                        border-bottom: 3px solid #EA094B;

                        a {
                            color: #191919;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .productWrap {
            display: flex;
            justify-content: center;
            padding: 70px 0;
            .center {
                width: 1250px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .box {
                    width: 276px;
                    text-align: center;
                    margin-bottom: 50px;
                    position: relative;
                    
                    .best {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        z-index: 5;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        color: #fff;
                        background-color:#382E2C;
                    }

                    .new {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        z-index: 5;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        color: #fff;
                        background-color:#EA094B;
                    }
                    
                    .imgWrap {
                        width: 276px;
                        height: 276px;
                        border-radius: 50%;
                        border: 5px solid #fff;
                        overflow: hidden;
                        position: relative;
                        transition: all .5s;
                        cursor: pointer;
                        img {
                            width: 100%;
                            object-fit: cover;
                            transition: all .5s;
                        }

                        &:hover {
                            border: 5px solid #987346;
                            img {
                                transform: scale(1.2);
                            }
                        }
                    }
                    h2 {
                        font-size: 20px;
                        font-weight: 400;
                        color: #382E2C;
                        margin: 20px 0 5px;
                        font-family: 'Noto Sans KR', sans-serif;
                    }
                    span {
                        font-size: 15px;
                        color: #987346;
                    }
                }
            }
        }
    }
}
#container.icecream{
    .cont1 {
        width: 100%;
        height: 333px;
        background-image: url(../img/menu/subBg_icecream.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        font-family: 'Poppins', sans-serif;

        h1 {
            padding: 180px 0 10px;
            font-size: 50px;
            font-weight: 500;
            color: #fff;
        }

        p {
            color: #ddd;
        }
    }
    .cont2 {
        font-family: 'Poppins', sans-serif;
        .menuWrap {
            display: flex;
            justify-content: center;
            border: 1px solid #ccc;

            .center {
                width: 900px;

                .menus {
                    display: flex;

                    li {
                        width: 16.666666%;

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 60px;
                            font-size: 15px;
                            color: #62605f;
                        }
                    }

                    li.on {
                        border-bottom: 3px solid #EA094B;

                        a {
                            color: #191919;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .productWrap {
            display: flex;
            justify-content: center;
            padding: 70px 0;
            .center {
                width: 1250px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .box {
                    width: 276px;
                    text-align: center;
                    margin-bottom: 50px;
                    position: relative;
                    
                    .best {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        z-index: 5;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        color: #fff;
                        background-color:#382E2C;
                    }

                    .new {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        z-index: 5;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        color: #fff;
                        background-color:#EA094B;
                    }
                    
                    .imgWrap {
                        width: 276px;
                        height: 276px;
                        border-radius: 50%;
                        border: 5px solid #fff;
                        overflow: hidden;
                        position: relative;
                        transition: all .5s;
                        cursor: pointer;
                        img {
                            width: 100%;
                            object-fit: cover;
                            transition: all .5s;
                        }

                        &:hover {
                            border: 5px solid #987346;
                            img {
                                transform: scale(1.2);
                            }
                        }
                    }
                    h2 {
                        font-size: 20px;
                        font-weight: 400;
                        color: #382E2C;
                        margin: 20px 0 5px;
                        font-family: 'Noto Sans KR', sans-serif;
                    }
                    span {
                        font-size: 15px;
                        color: #987346;
                    }
                }
            }
        }
    }
}
#container.food{
    .cont1 {
        width: 100%;
        height: 333px;
        background-image: url(../img/menu/subBg_food.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        font-family: 'Poppins', sans-serif;

        h1 {
            padding: 180px 0 10px;
            font-size: 50px;
            font-weight: 500;
            color: #fff;
        }

        p {
            color: #ddd;
        }
    }
    .cont2 {
        font-family: 'Poppins', sans-serif;
        .menuWrap {
            display: flex;
            justify-content: center;
            border: 1px solid #ccc;

            .center {
                width: 900px;

                .menus {
                    display: flex;

                    li {
                        width: 16.666666%;

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 60px;
                            font-size: 15px;
                            color: #62605f;
                        }
                    }

                    li.on {
                        border-bottom: 3px solid #EA094B;

                        a {
                            color: #191919;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .productWrap {
            display: flex;
            justify-content: center;
            padding: 70px 0;
            .center {
                width: 1250px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .box {
                    width: 276px;
                    text-align: center;
                    margin-bottom: 50px;
                    position: relative;
                    
                    .best {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        z-index: 5;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        color: #fff;
                        background-color:#382E2C;
                    }

                    .new {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        z-index: 5;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        color: #fff;
                        background-color:#EA094B;
                    }
                    
                    .imgWrap {
                        width: 276px;
                        height: 276px;
                        border-radius: 50%;
                        border: 5px solid #fff;
                        overflow: hidden;
                        position: relative;
                        transition: all .5s;
                        cursor: pointer;
                        img {
                            width: 100%;
                            object-fit: cover;
                            transition: all .5s;
                        }

                        &:hover {
                            border: 5px solid #987346;
                            img {
                                transform: scale(1.2);
                            }
                        }
                    }
                    h2 {
                        font-size: 20px;
                        font-weight: 400;
                        color: #382E2C;
                        margin: 20px 0 5px;
                        font-family: 'Noto Sans KR', sans-serif;
                    }
                    span {
                        font-size: 15px;
                        color: #987346;
                    }
                }
            }
        }
    }
}
#container.product{
    .cont1 {
        width: 100%;
        height: 333px;
        background-image: url(../img/menu/subBg_product.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        font-family: 'Poppins', sans-serif;

        h1 {
            padding: 180px 0 10px;
            font-size: 50px;
            font-weight: 500;
            color: #fff;
        }

        p {
            color: #ddd;
        }
    }
    .cont2 {
        font-family: 'Poppins', sans-serif;
        .menuWrap {
            display: flex;
            justify-content: center;
            border: 1px solid #ccc;

            .center {
                width: 900px;

                .menus {
                    display: flex;

                    li {
                        width: 16.666666%;

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 60px;
                            font-size: 15px;
                            color: #62605f;
                        }
                    }

                    li.on {
                        border-bottom: 3px solid #EA094B;

                        a {
                            color: #191919;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .productWrap {
            display: flex;
            justify-content: center;
            padding: 70px 0;
            .center {
                width: 1250px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .box {
                    width: 276px;
                    text-align: center;
                    margin-bottom: 50px;
                    position: relative;
                    
                    .best {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        z-index: 5;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        color: #fff;
                        background-color:#382E2C;
                    }

                    .new {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        z-index: 5;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        color: #fff;
                        background-color:#EA094B;
                    }
                    
                    .imgWrap {
                        width: 276px;
                        height: 276px;
                        border-radius: 50%;
                        border: 5px solid #fff;
                        overflow: hidden;
                        position: relative;
                        transition: all .5s;
                        cursor: pointer;
                        img {
                            width: 100%;
                            object-fit: cover;
                            transition: all .5s;
                        }

                        &:hover {
                            border: 5px solid #987346;
                            img {
                                transform: scale(1.2);
                            }
                        }
                    }
                    h2 {
                        font-size: 20px;
                        line-height: 25px;
                        font-weight: 400;
                        color: #382E2C;
                        margin: 20px 0 5px;
                        font-family: 'Noto Sans KR', sans-serif;
                    }
                    span {
                        font-size: 15px;
                        color: #987346;
                    }
                }
            }
        }
    }
}
// container end
