@import "reset";
@import "commonHF";

// container start
#container.pbs {
    .cont1 {
        width: 100%;
        height: 526px;
        background-image: url(../img/society/societyBg01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        position: relative;
        .center {
            text-align: center;
            padding-top: 50px;
            .img02 {
                 margin-bottom: 20px;
                 &::before {
                    content: '';
                    display: block;
                    background-color: #fff;
                    width: 250px;
                    height: 2px;
                    margin: 15px auto;
                 }
            }
            p {
                color: #fff;
                font-size: 15px;
                font-weight: 400;
                line-height: 25px;
                span {
                    color: #f0dec8;
                }
            }
        }

    }

    .cont2 {
        background-color: #fff;
        display: flex;
        justify-content: center;
        font-family: 'Noto Sans KR', sans-serif;
        padding-bottom: 100px;
        .center {
            width: 1400px;
            .text01 {
                padding: 70px 0 80px;
                h2 {
                    font-size: 25px;
                    font-weight: 500;
                    padding-bottom: 20px;
                    position: relative;
    
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-left: 3px solid #EA094B;
                        border-top: 3px solid #EA094B;
                        position: absolute;
                        top: -10px;
                        left: -10px;
                    }
                }
                p {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 26px;
                    color: #62605F;
                    span {
                        color: #EA094B;
                        font-weight: 400;
                    }
                }
            }
            .text02 {
                h2 {
                    font-size: 25px;
                    font-weight: 500;
                    padding-bottom: 40px;
                    position: relative;
    
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-left: 3px solid #EA094B;
                        border-top: 3px solid #EA094B;
                        position: absolute;
                        top: -10px;
                        left: -10px;
                    }
                }

                .iconWrap {
                    display: flex;
                    justify-content: space-between;
                    .iconBox {
                        width: 240px;
                        position: relative;
                        border-bottom: 2px solid #3b312f;
                        h3 {
                            color: #EA094B;
                            font-size: 22px;
                            font-weight: 400;
                            padding-bottom: 10px;
                        }
                        p {
                            color: #62605F;
                            font-size: 15px;
                            font-weight: 300;
                            line-height: 20px;
                            padding-bottom: 30px;
                        }

                        &::after {
                            content: '';
                            display: block;
                            width: 64px;
                            height: 62px;
                            background-repeat: no-repeat;
                            position: absolute;
                            bottom: 0;
                            right: -17px;
                            background-image: url(../img/society/icon.png);
                        }

                        &:nth-child(1){
                            &::after {
                                background-position: 0 -530px;
                            }
                        }
                        &:nth-child(2){
                            &::after {
                                background-position: -64px -530px;
                                right: 0;
                            }
                        }
                        &:nth-child(3){
                            &::after {
                                background-position: -128px -530px;
                                right: -8px;
                            }
                        }
                        &:nth-child(4){
                            &::after {
                                background-position: -192px -530px;
                                right: 0;
                            }
                        }
                        &:nth-child(5){
                            &::after {
                                background-position: -256px -530px;
                                width: 73px;
                                right: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}
#container.rating{
    .cont1 {
        height: 333px;
        background-image: url(../img/society/societyBg01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Noto Sans KR', sans-serif;
        h1 {
            padding-top: 70px;
            font-size: 50px;
            font-weight: 500;
            color: #fff;
        }
    }
    .cont2 {
        padding: 90px 0;
        font-family: 'Noto Sans KR', sans-serif;
        .topWrap{
            display: flex;
            justify-content: center;
            text-align: center;
            .center {
                width: 80%;
                h3 {
                    font-size: 18px;
                    font-weight: 400;
                    color:#987346;
                    letter-spacing: 2px;
                    padding: 10px 0 20px;
                }
                h2 {
                    font-size: 30px;
                    font-weight: 400;
                    color:#382e2c;
                    padding-bottom: 25px;
                    span {
                        color: #EA094B;
                    }
                }
                p {
                    font-weight: 300;
                    padding-bottom: 25px;
                    line-height: 22px;
                    color:#382e2c;
                }
            }
        }
        .botWrap{
            padding-top: 50px;
            display: flex;
            justify-content: center;
            .center {
                width: 80%;
                border-top: 2px solid #382e2c;
                border-bottom: 2px solid #382e2c;
                .topList {
                    padding-top: 50px;
                    ul {
                        display: flex;
                        li {
                            width: 20%;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            position: relative;
                            padding-bottom: 30px;
                            border-right: 1px dotted #382e2c;
                            >div {
                                width: 100px;
                                height: 100px;
                                border-radius: 50%;
                                background-image: url(../img/society/ratingIcon.png);
                                background-repeat: no-repeat;
                            }
                            .icontext{
                                font-size: 20px;
                                padding: 20px 0 10px;
                                font-family: 'Poppins', sans-serif;
                            }
                            p {
                                font-size: 18px;
                                line-height: 20px;
                                color: #382e2c;
                            }
                            &:nth-child(1){
                                text-align: start;
                                display: block;
                                span {
                                    font-size: 18px;
                                    font-weight: 300;
                                    color: #987346;
                                }
                                h2 {
                                    font-size: 30px;
                                    color: #382e2c;
                                    font-weight: 400;
                                    padding-top: 10px;
                                }
                            }
                            &:nth-child(2){
                                >div {
                                    border: 1px solid #382e2c;
                                    background-position: -456px -36px
                                }
                                span {
                                    color: #382e2c;
                                }
                                &::after {
                                    content: '';
                                    display: block;
                                    width: 40px;
                                    height: 1px;
                                    background-color: #382e2c;
                                    position: absolute;
                                    bottom: -20px;
                                }
                            }
                            &:nth-child(3){
                                
                                >div {
                                    background-color: #EA094B;
                                    background-position: -25px 0px;
                                }
                                span {
                                    color: #EA094B;
                                }
                                &::after {
                                    content: '';
                                    display: block;
                                    width: 40px;
                                    height: 1px;
                                    background-color: #EA094B;
                                    position: absolute;
                                    bottom: -20px;
                                }
                            }
                            &:nth-child(4){
                                >div {
                                    background-color: #BC9F73;
                                    background-position: -25px 0px;
                                }
                                span {
                                    color: #BC9F73;
                                }
                                &::after {
                                    content: '';
                                    display: block;
                                    width: 40px;
                                    height: 1px;
                                    background-color: #BC9F73;
                                    position: absolute;
                                    bottom: -20px;
                                }
                            }
                            &:nth-child(5){
                                >div {
                                    background-color: #B9B9B9;
                                    background-position: -25px 0px;
                                }
                                span {
                                    color: #b9b9b9;
                                }
                                &::after {
                                    content: '';
                                    display: block;
                                    width: 40px;
                                    height: 1px;
                                    background-color: #B9B9B9;
                                    position: absolute;
                                    bottom: -20px;
                                }
                            }
                        }
                    }
                }
                .botList {
                    padding: 50px 0 50px;
                    ul {
                        display: flex;
                        li {
                            width: 20%;
                            border-right: 1px dotted #382e2c;
                            p {
                                font-size: 15px;
                                font-weight: 400;
                                padding-bottom: 20px;
                                text-align: center;
                            }
                            &:nth-child(1){
                                text-align: start;
                                display: block;
                                span {
                                    font-size: 18px;
                                    font-weight: 300;
                                    color: #987346;
                                }
                                h2 {
                                    font-size: 30px;
                                    color: #382e2c;
                                    font-weight: 400;
                                    padding-top: 10px;
                                }
                            }

                            &:nth-child(2){
                                p {
                                    color: #382e2c;
                                }
                            }
                            &:nth-child(3){
                                p {
                                    color: #EA094B;
                                }
                            }
                            &:nth-child(4){
                                p {
                                    color: #BC9F73;
                                }
                            }
                            &:nth-child(5){
                                p {
                                    color: #b9b9b9;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#container.ecard{
    .cont1 {
        height: 333px;
        background-image: url(../img/society/societyBg01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Noto Sans KR', sans-serif;
        h1 {
            padding-top: 70px;
            font-size: 50px;
            font-weight: 500;
            color: #fff;
            span {
                font-family: 'Poppins', sans-serif;
            }
        }
    }
    .cont2 {
        display: flex;
        justify-content: center;
        padding: 90px 0;
        .center {
            width: 62.5%;
            .wrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: 'Noto Sans KR', sans-serif;
                h2 {
                    font-size: 30px;
                    font-weight: 600;
                    font-family: 'Poppins', sans-serif;
                    padding-bottom: 20px;
                    position: relative;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-left: 3px solid #EA094B;
                        border-top: 3px solid #EA094B;
                        position: absolute;
                        top: -10px;
                        left: -10px;
                    }
                }
                h3 {
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                    padding-bottom: 30px;
                }
                p {
                    width: 780px;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 30px;
                    text-align: center;
                }
                a {
                    margin: 30px auto 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 50px;
                    background-color: #EA094B;
                    color: #fff;
                    transition: all .5s;
                    border: 1px solid #fff;
                    &:hover {
                        border: 1px solid #EA094B;
                        background-color: #fff;
                        color: #EA094B;
                    }
                }
            }
        }
    }
}
#container.mobileapp{
    .cont1 {
        height: 333px;
        background-image: url(../img/society/societyBg01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Noto Sans KR', sans-serif;
        h1 {
            padding-top: 70px;
            font-size: 50px;
            font-weight: 500;
            color: #fff;
            span {
                font-family: 'Poppins', sans-serif;
            }
        }
    }
    .cont2 {
        padding: 90px 0;
        display: flex;
        justify-content: center;
        font-family: 'Noto Sans KR', sans-serif;
        .center {
            width: 62.5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .textWrap{
                width: 40%;
                h2 {
                    font-size: 30px;
                    font-weight: 600;
                    padding-bottom: 20px;
                    position: relative;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-left: 3px solid #EA094B;
                        border-top: 3px solid #EA094B;
                        position: absolute;
                        top: -10px;
                        left: -10px;
                    }
                }
                h3 {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30px;
                    padding-bottom: 30px;
                    span {
                        color: #EA094B;
                    }
                }
                p {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 30px;
                    padding-bottom: 30px;
                }
                .linkWrap {
                    display: flex;
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 180px;
                        height: 50px;
                        background-color: #EA094B;
                        color: #fff;
                        margin-right: 20px;
                        border: 1px solid #fff;
                        transition: all .5s;
                        i {
                            padding-right: 10px;
                        }
                        &:hover {
                            background-color: #fff;
                            color: #EA094B;
                            border: 1px solid #EA094B;
                        }
                        &:nth-child(2) {
                            i {
                                font-size: 24px;
                            }     
                        }
                    }
                }
            }
        }
    }
}
#container.partnership{
    .cont1 {
        height: 333px;
        background-image: url(../img/society/societyBg01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Noto Sans KR', sans-serif;
        h1 {
            padding-top: 70px;
            font-size: 50px;
            font-weight: 500;
            color: #fff;
        }
    }

    .cont2 {
        padding: 90px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        h1 {
            font-size: 30px;
            margin-bottom: 70px;
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }
        .center {
            width: 62.5%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            font-family: 'Noto Sans KR', sans-serif;
            .boxWrap {
                width: 48%;

                &:nth-child(1),
                &:nth-child(2){
                    margin-bottom: 100px;
                }
                h2 {
                    font-size: 20px;
                    font-weight: 600;
                    padding-bottom: 20px;
                    position: relative;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-left: 3px solid #EA094B;
                        border-top: 3px solid #EA094B;
                        position: absolute;
                        top: -10px;
                        left: -10px;
                    }
                }
                .context {
                    display: flex;
                    img {
                        padding-right: 30px;
                        width: 186px;
                        height: 114px;
                    }
                    .text {
                        h3 {
                            padding-bottom: 5px;
                            font-weight: 500;
                        }
                        p {
                            line-height: 20px;
                            font-weight: 300;
                        }
                        h4 {
                            padding: 20px 0 5px;
                            font-weight: 500;
                        }
                        span {
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}
// container end
