@import "reset";

// header start
#header,#header2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .2);
    border-bottom: 1px solid transparent;
    font-family: 'Poppins', sans-serif;
    z-index: 11;
    transition: all .5s;

    .center {
        width: 1600px;
        display: flex;
        justify-content: space-between;

        .logo {
            margin: 20px 0;

            a {
                img {
                    width: 130px;
                }
            }
        }

        .gnb {
            display: flex;
            align-items: end;
            padding-left: 100px;
            padding-bottom: 20px;
            width: 800px;

            >li {
                width: 16.666666%;

                >a {
                    color: #fff;

                    &::before {
                        position: absolute;
                        top: -6px;
                        right: 0;
                        content: '';
                        display: block;
                        background-color: #EA094B;
                        width: 0%;
                        height: 2px;
                        transition: all .5s;
                    }

                    &::after {
                        content: '';
                        display: block;
                        background-color: #EA094B;
                        width: 0%;
                        height: 2px;
                        margin-top: 3px;
                        transition: all .5s;
                    }
                }
            }
        }

        .subWrap {
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding-bottom: 20px;

            .subTop {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 20px;

                >li {
                    padding: 0 15px;

                    >a {
                        color: rgba(255, 255, 255, .7);
                        font-size: 14px;
                        font-family: 'Noto Sans KR', sans-serif;
                    }
                }
            }

            .subBot {
                display: flex;
                justify-content: flex-end;

                >li {
                    padding: 0 15px;

                    >a {
                        color: #f0dec8;

                        >span {
                            margin-left: 5px;
                            font-size: 14px;
                            font-family: 'Noto Sans KR', sans-serif;
                        }
                    }
                }
            }
        }
    }
}
#header2 {
    height: 0px;
    overflow: hidden;
    transition: all .5s;
    border-bottom: 1px solid #222;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #191919;
        width: 100%;
        height: 100%;
    }

    .center {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        .gnb {
            >li {
                position: relative;

                &:hover {
                    >a {
                        &::before {
                            width: 100%;
                        }

                        &::after {
                            width: 100%;
                        }
                    }
                }

                >a {
                    display: inline-block;
                    color: #fff;
                    position: relative;

                    &::before {
                        position: absolute;
                        top: -6px;
                        right: 0;
                        content: '';
                        display: block;
                        background-color: #EA094B;
                        width: 0%;
                        height: 2px;
                        transition: all .5s;
                    }

                    &::after {
                        content: '';
                        display: block;
                        background-color: #EA094B;
                        width: 0%;
                        height: 2px;
                        margin-top: 3px;
                        transition: all .5s;
                    }
                }

                .depth2 {
                    position: absolute;
                    top: 40px;
                    width: 100%;

                    >li {
                        line-height: 40px;

                        >a {
                            color: #ddd;
                            font-size: 12px;
                            transition: all .5s;

                            &:hover {
                                color: #EA094B;
                            }
                        }
                    }
                }
            }
        }

        .subWrap {
            .subTop {
                li>a {
                    color: rgba(255, 255, 255, .7);
                }
            }

            .subBot {
                li>a {
                    color: #f0dec8;
                }
            }
        }
    }
}
#header.on {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    .center .gnb > li > a {
        color: #191919;
    }
    .center .subWrap .subTop > li > a {color: #969696;}
    .center .subWrap .subBot > li > a {color: #987346;}
}
// header end

// container start
#container {
    // 임의로 설정
    font-size: 40px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
// container end

// footer start
#footer {
    background-color: #191919;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    height: 200px;
    .center {
        width: 1600px;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .leftWrap {
            .footerMenu {
                display: flex;
                padding-bottom: 20px;
                li {
                    margin-right: 25px;
                    a {
                        font-size: 15px;
                        color: #ddd;
                        transition: all .5s;
                        &::after {
                            content: "";
                            display: block;
                            background-color: #ddd;
                            width: 0%;
                            height: 2px;
                            margin-top: 4px;
                            transition: all .5s;
                        }
                    }
                    &:hover {
                        a {
                            color: #fff;
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .info {
                font-size: 15px;
                line-height: 25px;
                color: #959595;
                padding-bottom: 10px;
            }
            .copyright {
                font-size: 15px;
                color: #7e7e7e;
            }
        }
        .rightWrap {
            display: flex;
            align-items: center;
            margin-right: 30px;
            .sns {
                display: flex;
                li {
                    margin-left: 20px;
                    a {
                        font-size: 25px;
                        color: #aaa;
                        transition: all .5s;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
            .imgWrap {
                display: flex;
                align-items: center;
                margin-left: 20px;
                .img01 {
                    width: 60px;
                    height: 60px;
                }
                .img02 {
                    width: 174px;
                    height: 46px;
                    margin-left: 20px;
                }
            }
        }
    }
}
// footer end