<%- include("headerSub",
{title:"ABOUT US | PaulBassett",
cssFiles:["aboutus.css"],
jsFiles:["aboutus/tabMenu.js","aboutus/interiorSlide.js"]})%>
    <div id="container" class="brand">
        <div class="cont1">
            <h1>BRAND</h1>
        </div>
        <div class="cont2">
            <div class="menuWrap">
                <div class="center">
                    <ul class="menus">
                        <li class="on"><a href="#">Brand Identity (History)</a></li>
                        <li><a href="#">Interior</a></li>
                        <li><a href="#">Barista Paulbassett</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cont3">
            <div class="wrap on">
                <div class="sec01">
                    <div class="center">
                        <h2>HISTORY</h2>
                        <p>스페셜티 전문 브랜드 폴 바셋은 성장하고 있습니다.</p>
                        <ul class="historyWrap">
                            <li><span>2009</span><br />폴 바셋 1호점</li>
                            <li><span>2013</span><br />엠즈씨드 설립</li>
                            <li><span>2018</span><br />100호점 오픈</li>
                            <li><span>2019</span><br />브랜드 10주년</li>
                            <li><span>2020</span><br />DT 1호점 론칭</li>
                        </ul>
                    </div>
                </div>
                <div class="sec02">
                    <div class="center">
                        <h2>LOGO</h2>
                        <div class="logoWrap">
                            <img src="/img/aboutus/logo03.png">
                            <div class="text">
                                <h3>베이직 로고</h3>
                                <p>바리스타 챔피언을 상징하는 <span>왕관(Crown)</span>이
                                    강조된 로고로, 바리스타 폴 바셋의 친필사인과 함께
                                    브랜드의 정체성과 고유성을 담았습니다.
                                    크라운은 떨어지는 커피를 형상화한 모양으로
                                    전문성을 상징하기도 합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sec03">
                    <div class="center">
                        <div class="view">
                            <h3>SYMBOL</h3>
                            <div class="viewWrap">
                                <p>잘 익은 커피 체리의 빛으로부터 영감을 받은
                                    붉은 색 왕관 디자인으로 제품, 인테리어 등
                                    다양한 영역에 사용됩니다.</p>
                                <div><img src="/img/aboutus/symbol.png"></div>
                            </div>
                        </div>
                        <div class="view">
                            <h3>EMBLEM</h3>
                            <div class="viewWrap">
                                <p>폴 바셋을 상징하는 왕관과 워드마크가
                                    결합된 형태로 매장 사이니지 등 다양한 영역에서
                                    폴 바셋 브랜드를 전달하고 있습니다.</p>
                                <div><img src="/img/aboutus/emblem.png"></div>
                            </div>
                        </div>
                        <div class="view">
                            <h3>HERITAGE LOGO</h3>
                            <div class="viewWrap">
                                <p>2003년 월드 바리스타 챔피언 폴 바셋의
                                    친필 사인으로 만들어진 로고로,
                                    그가 생각하는 커피 철학과 원칙,
                                    커피 맛으로부터 출발한 폴 바셋 브랜드의
                                    진정성을 담은 로고입니다.</p>
                                <div><img src="/img/aboutus/logo04.png"></div>
                            </div>
                        </div>
                        <div class="view">
                            <h3>WORDMARK</h3>
                            <div class="viewWrap">
                                <p>폴 바셋을 나타내는 글자로 바리스타 폴 바셋의
                                    친필 사인부터 가독성과 명시성을 높인 영문과
                                    한글 타입의 디자인으로 간판, 제품 등
                                    다양한 영역에 사용됩니다.</p>
                                <div><img src="/img/aboutus/wordmark.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <div class="top">
                    <div class="center">
                        <div class="box">
                            <h3>스토리</h3>
                            <div></div>
                            <p>폴 바셋은 매장마다 각기 다른 스토리를 가지고 있습니다. 매장이 가지고 있는 스토리는 매장 한켠에 위치한 컨셉보드에서 확인할 수 있습니다.</p>
                        </div>
                        <div class="box">
                            <h3>조화</h3>
                            <div></div>
                            <p>폴 바셋 인테리어는 주변 환경과의 조화를 최우선으로 합니다. 우리 일상에서 편안한 휴식 공간이 될 수 있도록 자연스러운 인테리어를 추구합니다.</p>
                        </div>
                        <div class="box">
                            <h3>소통</h3>
                            <div></div>
                            <p>폴 바셋 커피 바는 오픈 형태의 낮은 테이블로 디자인되어 고객들이 언제든지 전문 바리스타의 커피 제조 과정을 볼 수 있고, 바리스타와 자유롭게 소통할 수 있습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="bot">
                    <div class="center">
                        <div class="slider">
                            <div>
                                <div class="textWrap">
                                    <h2>송도 트리플스트리트점</h2>
                                    <p>상쾌하고 도시적인 블루 그레이의 기둥과 이어지는 존재감 있는 벽의 우드가 길게 이어진 라인을 더욱 돋보이게 하고, 오고 가는 사람들의 발걸음을 멈추게 하는 유리창 안을 들여다 보면 정면에 인상적인 공간이 펼쳐진다. </p>
                                </div>
                            </div>
                            <div>
                                <div class="textWrap">
                                    <h2>일원역점</h2>
                                    <p>목재를 겹쳐 둔 듯한 카운터, 주방을 감추려는 듯 쌓아 올린 장엄한 돌담, 사선으로 솟구친 폴바셋의 상징 검은 벽. 제각각 다른 성질의 요소들이 모여 시너지를 내 존재를 빛낸다.</p>
                                </div>
                            </div>
                            <div>
                                <div class="textWrap">
                                    <h2>제주아라DT</h2>
                                    <p>외장부터 내부에 이르기까지 따뜻하고 무게감 있는 우드의 재질과 오픈된 파사드로 건물 전체가 내뿜는 새로운 브랜드의 세계관이 돋보인다. 세련된 조형미와 있는 그대로의 건축을 융합시켜 시너지를 일으키는 뮤지엄 라운지.</p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="prev"><i class="fa-solid fa-chevron-left"></i></i></a>
                        <a href="#" class="next"><i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <div class="center">
                    <h2><img src="/img/aboutus/PaulBassett01.png"></h2>
                    <div class="textWrap">
                        <div class="leftWrap">
                            <img src="/img/aboutus/PaulBassett02.png">
                        </div>
                        <div class="rightWrap">
                            <p>2003년 WBC(세계 바리스타 챔피언십)에서 '역대 최연소 챔피언'을 수상한 호주 출신의 바리스타 폴 바셋.<br/>
                                그는 원두의 선정부터 로스팅, 추출까지의 모든 과정에 심혈을 기울여 최고의 커피를 프로듀스합니다</p>
                            <div class="introduce">
                                <div>
                                    <h4>국적</h4>
                                    <p>호주 (Australia)</p>
                                </div>
                                <div>
                                    <h4>경력</h4>
                                    <ul>
                                        <li>2003<br/>
                                            AUSTRALIA BARISTA CHAMPIONSHIP WINNER</li>
                                        <li>2003<br/>
                                            WORLD BARISTA CHAMPIONSHIP WINNER</li>
                                    </ul>
                                </div>
                                <div>
                                    <h4>소개</h4>
                                    <p>세계 챔피언. 현재 호주 시드니를 거점으로 아시아, 유럽으로도 활동지역을 넓혀 다방면에 걸친 커피 비즈니스를 전개, 현재 세계가 주목하고 있는 바리스타 중 한 명입니다.
                                        바리스타 폴 바셋은 2003년 당시 Boston, United States에서 개최된 WBC 대회에서 역대 최연소 및 호주인 최초로 챔피언이라는 타이틀을 수상하였습니다. 폴 바셋은 당시 초콜릿, 크림, 바닐라 시럽을 이용해 자신의 이름을 딴 ‘Baccino’ 라는 창작메뉴로 호평을 받았습니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("footerSub")%>