<%- include("headerSub",
{title:"ABOUT US | PaulBassett",
cssFiles:["aboutus.css"],
jsFiles:[]})%>
    <div id="container" class="introduce">
        <div class="cont1">
            <h1>Company Introduce</h1>
        </div>
        <div class="cont2">
            <div class="title">
                <h2>CEO 인사말</h2>
            </div>
            <div class="topWrap">
                <div class="textWrap">
                    <h2>맛있는 커피와 최고의 서비스로<br/>
                        다시 찾고 싶은 휴식공간이 되겠습니다.</h2>
                    <h3>안녕하십니까?<br/>
                        엠즈씨드 대표이사 김용철 입니다.</h3>
                    <p>2009년 처음 문을 연 폴 바셋 1호점을 시작으로 10주년을 맞이하기까지 고객 여러분께서 보여주신 사랑과 성원에 진심으로 감사드립니다.</p>
                    <p>폴 바셋은 첫 걸음부터 ‘완벽한 한잔의 커피’를 위해 많은 고민을 했습니다. 월드 바리스타 챔피언 폴 바셋과 협업을 통해 맛있는 커피 레시피에 대해 오랜 시간 연구한 것은 물론 모든 메뉴에 전세계 상위 7% 커피인 스페셜티를 적용하고 있습니다.</p>
                    <p>폴 바셋은 “품질과 타협하지 않는다”는 브랜드 모토 아래 생두의 선정부터 로스팅, 그리고 한 잔의 커피로 제공되기까지 모든 과정을 철저하게 관리하고 있습니다. 뿐만 아니라 고객님들이 폴 바셋에 방문하셨을 때 기분 좋은 하루를 경험을 하실 수 있도록 서비스 강화에도 힘쓰고 있습니다.</p>
                    <p>앞으로도 변함없는 성원과 사랑 부탁드리며, 폴 바셋은 ‘맛있는 커피와 최고의 서비스로 다시 찾고 싶은 휴식공간’이 될 수 있도록 노력하겠습니다.</p>
                    <div class="signWrap">
                        <span>엠즈씨드㈜ 대표이사 김용철</span>
                        <img src="/img/aboutus/sign.png">
                    </div>
                </div>
            </div>
            <div class="botWrap">
                <div class="center">
                    <h2>VISION & MISSION</h2>
                    <div class="boxWrap">
                        <div class="box">
                            <h3>Seed of Happiness</h3>
                            <div class="img"></div>
                            <p>우리가 만드는 모든 제품과 서비스를 통해 우리는 고객의 하루를 행복하게 합니다. 하루 하루의 행복이 쌓여 세상은 풍요로워지기에 우리는 바로 그 행복을 만드는 씨앗입니다.</p>
                        </div>
                        <div class="box">
                            <h3>Let's Sprout</h3>
                            <div class="img"></div>
                            <p>우리는 큰 꿈을 실현하기 위해 함께 합니다. 작은 씨앗이 껍질을 뚫고 싹을 틔워내 큰 나무가 되듯이, 우리는 매일 담대하게 성장하여 꿈을 이뤄냅니다.</p>
                        </div>
                        <div class="box">
                            <h3>From Trust to Love</h3>
                            <div class="img"></div>
                            <p>우리의 작은 말과 행동 하나 하나가 곧 우리의 브랜드가 됩니다. 고객이 신뢰할 수 있는 품질을 바탕으로 사랑받는 브랜드, 존경받는 기업으로 거듭납니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("footerSub")%>