<%- include("headerSub",
{title:"ABOUT US | PaulBassett",
cssFiles:["aboutus.css"],
jsFiles:["aboutus/interiorSlide.js"]})%>
    <div id="container" class="csr">
        <div class="cont1">
            <h1>Corporate Social Responsibility</h1>
        </div>
        <div class="cont2">
            <div class="center">
                <div class="topWrap">
                    <div class="left"></div>
                    <div class="right">
                        <h2>ONE SHOP<br/>ONE CHILD</h2>
                        <div class="textWrap">
                            <h3>Paul Bassett은 균형 있는<br/>
                                커피 산업 발전과 <span>좋은 커피 문화</span> 확산을 위해
                                노력합니다.</h3>
                            <p>스페셜티 커피 생산 농가는 지속적인 투자로 환경이 개선되고 있지만 일반 커피 생산농가는 아직 많은 개선이 필요한 것이 현실입니다.
                                오직 최상급 스페셜티 커피만을 사용하는 Paul Bassett에서는 스페셜티 커피 농가 외에
                                모든 커피 생산국 아이들이 보다 나은 환경에서 자랄 수 있도록 아동을 후원하고 있으며,
                                이 아이들이 만들어낼 변화를 기대합니다.
                                Paul Bassett은 이런 좋은 커피 문화가 널리 퍼져나가 커피 산업의 발전으로
                                이어질 수 있도록 노력하고 있습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="botWrap">
                    <div class="left">
                        <div class="textWrap">
                            <h3>Paul Bassett 바리스타들은 지구 반대편에 살고 있는<br/>
                                <span>아이들에게 큰 희망</span>이 되길 바라며 정성껏 커피를 만듭니다.</h3>
                            <p>Paul Bassett 바리스타들은 비록 작은 손길이지만
                                지구 반대편에 살고 있는 아이들에게 큰 희망이
                                되기를 바라며 오늘도 정성껏 커피를 만듭니다.
                                이 아이들이 보다 나은 환경에서 자라나 주위의 또 다른
                                이들과 따듯한 손길을 나누고, 이를 통해
                                더 맛있는 커피를 만나는 날이 오기를 기대합니다.</p>
                        </div>
                    </div>
                    <div class="right"></div>
                </div>
            </div>
        </div>
    </div>
<%- include("footerSub")%>