<%- include("headerSub", {title:"Qna | PaulBassett", cssFiles:["brd_insert.css"], jsFiles:[]})%>
    <div id="container">
        <div class="cont1"></div>
        <div class="cont2">
            <div class="center">
                <div class="titleWrap">
                    <h2>Ask Paul Bassett any questions!</h2>
                    <p>폴 바셋에게 궁금한 점을 질문해주세요.</p>
                </div>
                <form id="insert" action="/dbinsert" method="post">
                    <div class="line01">
                        <input name="title" type="text" placeholder="제목을 작성해주세요." required>
                    </div>
                    <div class="line02">
                        <textarea name="context" placeholder="문의사항을 작성해주세요." required></textarea>
                    </div>
                    <div class="btnWrap">
                        <button id="submit" type="submit">작성 완료</button>
                        <a href="/board/list" type="button">목록페이지로</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include("footerSub")%>