<%- include("headerSub",
{title:"E-SHOP | PaulBassett",
cssFiles:["e-shop.css"],
jsFiles:[]})%>
    <div id="container">
        <div class="cont1">
            <div class="center">
                <img src="img/e-shop/subLogo01.png">
                <h2>PAUL BASSETT E-SHOP</h2>
                <p>E-SHOP은 폴 바셋의 공식 온라인 몰입니다.</p>
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <h2>온라인에서 만나는 폴 바셋</h2>
                <p><span>폴 바셋 커피상품</span>을 온라인에서 간편하게 주문할 수 있습니다.<br/>
                커피상품, RTD, 아이스크림 구매부터 원두 정기배송까지온라인으로 간편하게 이용해보세요.</p>
                <ul>
                    <li>커피상품 구매</li>
                    <li>결제</li>
                    <li>배송</li>
                </ul>
                <div class="btns">
                    <div>폴 바셋 E-SHOP</div>
                    <div>원두 정기배송</div>
                </div>
            </div>
        </div>
        <div class="cont3"></div>
    </div>
<%- include("footerSub")%>