        <div id="footer" class="content">
            <div class="center">
                <div class="leftWrap">
                    <ul class="footerMenu">
                        <li><a href="/aboutus/brand">ABOUT US</a></li>
                        <li><a href="/menu/new">MENU</a></li>
                        <li><a href="/store">STORE</a></li>
                        <li><a href="/society/pbs">SOCIETY</a></li>
                        <li><a href="/whatsnew/event">WHAT'S NEW</a></li>
                        <li><a href="/e-shop">E-SHOP</a></li>
                    </ul>
                    <p class="info">엠즈씨드(주) 대표이사 : 김용철 주소 : 서울특별시 강남구 도산대로 75길 22 (청담동)<br />사업자등록번호 211-88-95935 대표번호
                        1899-8829 개인정보관리책임자 : 정보문</p>
                    <p class="copyright">© 2019 m’s seed Co., Ltd. All rights reserved.</p>
                </div>
                <div class="rightWrap">
                    <div class="imgWrap">
                        <img class="img01" src="/img/footer_logo01.png">
                        <img class="img02" src="/img/footer_logo02.png">
                    </div>
                    <ul class="sns">
                        <li><a href="https://www.facebook.com/paulbassettkorea/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://www.instagram.com/paulbassettkorea/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>