<%- include("header",
{title:"PaulBassett",
cssFiles:["style.css"],
jsFiles:["main/scrollContent.js","main/headerMouseover.js",
        "main/cont1Mouseover.js","main/cont2Change.js","main/cont3Slide.js",
        "main/cont5Tabmenu.js","main/cont6Slide.js"]})%>
    <ul class="sideMenu">
        <li class="on"><a href="#">COVER</a></li>
        <li><a href="#">BRAND</a></li>
        <li><a href="#">BARISTA</a></li>
        <li><a href="#">COFFEE</a></li>
        <li><a href="#">CONTRIBUTION</a></li>
        <li><a href="#">MEMBERSHIP</a></li>
    </ul>
    <div id="wrap">
        <div id="cont1" class="content">
            <div class="cont1Wrap">
                <div class="box on">
                    <a href="#">
                        <div class="vidWrap">
                            <video muted autoplay loop>
                                <source src="img/cover_vid01.mp4">
                            </video>
                            <div class="coverWrap one">
                                <div class="episode">Episode.1</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="box">
                    <a href="#">
                        <div class="vidWrap">
                            <video muted loop>
                                <source src="img/cover_vid02.mp4">
                            </video>
                            <div class="coverWrap two">
                                <div class="episode">Episode.2</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="box">
                    <a href="#">
                        <div class="vidWrap">
                            <video muted loop>
                                <source src="img/cover_vid03.mp4">
                            </video>
                        </div>
                        <div class="coverWrap three">
                            <div class="episode">Episode.3</div>
                        </div>
                    </a>
                </div>
                <div class="scrollBox">
                    <img src="img/scroll.png">
                </div>
            </div>
        </div>
        <div id="cont2" class="content">
            <div class="sideBg01"></div>
            <div class="sideBg02"></div>
            <div class="btnWrap">
                <div class="prev"><a href="#"><i class="fa-solid fa-angle-left"></i></a></div>
                <div class="next"><a href="#"><i class="fa-solid fa-angle-right"></i></a></div>
                <p class="count"><span>01</span> / 05</p>
                <div class="progress">
                    <div class="progressBar"></div>
                </div>
                <div class="pause_play">
                    <a class="pause on" href="#"><i class="fa-solid fa-circle-pause"></i></a>
                    <a class="play" href="#"><i class="fa-solid fa-circle-play"></i></a>
                </div>
            </div>
            <div class="titleWrap">
                <div class="center">
                    <h2>BRAND</h2>
                    <p>Quality Never Compromi<span>sed</span></p>
                </div>
            </div>
            <div class="textWrap">
                <div class="text01 on">
                    <div class="title">
                        <h4>Brand Principle of Paul Bassett</h4>
                        <h3>폴 바셋은 품질과 타협하지 않습니다</h3>
                    </div>
                    <div class="context">
                        <p>폴 바셋은 ‘품질과 타협하지 않는다’는 브랜드 원칙 아래 최고의 제품과 서비스를 선보이기 위해 노력하고 있습니다. 한 잔의 완벽한 커피를 만들기 위해 Seed to
                            Cup을 모토로 생두 선정부터 운송, 보관, 로스팅, 유통, 그리고 생산에 이르기까지 전 과정을 철저히 관리하며, 매장의 모든 바리스타가 신선하고 좋은 품질의 원두로
                            좋은 커피를 제공하기 위해 노력하고 있습니다.</p>
                    </div>
                    <div class="linkWrap">
                        <a class="link" href="aboutus.html">View More</a>
                    </div>
                </div>
                <div class="text02">
                    <div class="title">
                        <h4>Roasting and Production Management System</h4>
                        <h3>국내 로스팅 및 철저한 생산관리 시스템</h3>
                    </div>
                    <div class="context">
                        <p>Paul Bassett 국내 로스팅 팩토리에서 특유의 프로파일로 로스팅 한 후에 4~8일 이내의 신선한 원두로만 커피를 만듭니다. 로스팅한 원두는 배전 후 30분 이내
                            포장, 질소 충전하여 잔존 산소량을 1% 이하로 구현하는 철저한 생산관리 시스템 아래 관리되고 있습니다. 엄격한 품질 관리를 위해 철저히 로스팅 일자를 관리하며, 2주일 단위의 교체 주기에 따라 신선한 원두를 지속적으로 판매할 수 있도록 합니다.</p>
                    </div>
                    <div class="linkWrap">
                        <a class="link" href="aboutus.html">View More</a>
                    </div>
                </div>
                <div class="text03">
                    <div class="title">
                        <h4>About Quality of Machine and Grinder</h4>
                        <h3>머신과 그라인더의 퀄리티</h3>
                    </div>
                    <div class="context">
                        <p>Paul Bassett에서 사용하는 에스프레소 머신과 그라인더는 좋은 원두, 전문 바리스타의 기술, 그리고 폴 바셋의 노하우가 담긴 레시피를 잘 구현하고 커피의 좋은
                            맛과 향의 퀄리티를 일관성있게 유지하는데 중요한 역할을 합니다. Paul Bassett이 선택한 머신 ‘La Marzocco’는 듀얼 보일러 시스템 및 프리히팅
                            시스템 등으로 일정한 압력을 유지하고 추출 영향 변수를 최소화 하는데 우수하며, 그라인더 Mazzer Robur는 발열이 낮아 커피 원두 본연의 향미 보존이 우수한
                            장비입니다.</p>
                    </div>
                    <div class="linkWrap">
                        <a class="link" href="aboutus.html">View More</a>
                    </div>
                </div>
                <div class="text04">
                    <div class="title">
                        <h4>Experienced Professional Barista Operation</h4>
                        <h3>숙련된 전문 바리스타 운영</h3>
                    </div>
                    <div class="context">
                        <p>Paul Bassett 매장 직원은 모두 전문 바리스타로 월드 바리스타 챔피언 폴 바셋의 기술과 노하우를 그대로 전수 받아 커피를 추출합니다. 입사 후 약 3개월에
                            걸쳐 각 포지션 별 업무를 익힌 후에 숙련도에 따라 첫 커피를 추출할 수 있게 됩니다. 오랜 훈련 과정을 거친 Paul Bassett의 바리스타들은 ‘달콤한 디저트
                            스타일의 에스프레소’를 추출하게 됩니다.</p>
                    </div>
                    <div class="linkWrap">
                        <a class="link" href="aboutus.html">View More</a>
                    </div>
                </div>
                <div class="text05">
                    <div class="title">
                        <h4>Spread of the Right Coffee Culture</h4>
                        <h3>바른 커피 문화 전파</h3>
                    </div>
                    <div class="context">
                        <p>원두 본연의 맛과 향에 집중한 전문화된 커피 맛을 위해 노력하는 Paul Bassett ‘한 잔의 완벽한 커피’맛을 즐길 수 있도록 원두와 추출에 관한 Coffee
                            Class Program을 운영합니다. 뿐만 아니라 Paul Bassett 매장이 아닌 공간(사무실, 가정 등)에서도 최상의 커피 맛을 즐길 수 있도록 ‘Paul
                            Bassett Coffee Ambassador’를 통한 ‘Coffee Quality Management Program’도 운영하고 있습니다.</p>
                    </div>
                    <div class="linkWrap">
                        <a class="link" href="aboutus.html">View More</a>
                    </div>
                </div>
            </div>
            <div class="sliderWrap">
                <div class="view01 on"></div>
                <div class="view02"></div>
                <div class="view03"></div>
                <div class="view04"></div>
                <div class="view05"></div>
            </div>
        </div>
        <div id="cont3" class="content">
            <div class="titleWrap">
                <div class="center">
                    <h2>BARISTA</h2>
                    <p>Brewing Sweet Dessert Style Espresso</p>
                </div>
            </div>
            <div class="slideWrap">
                <div class="carousel">
                    <div class="view bg01"></div>
                    <div class="view bg02"></div>
                    <div class="view bg03"></div>
                </div>
                <div class="btns">
                    <a class="prev" href="#"></a>
                    <a class="next" href="#"></a>
                </div>
            </div>
            <div class="textWrap">
                <div class="center">
                    <div class="context">
                        <h3>끊임없는 탐구와 노력<br><span>Constant Search and Effort</span></h3>
                        <p>Paul Bassett의 바리스타들은 원두 본연의 맛과 향에 집중한 제대로 된 커피를 만들기 위해 끊임없이 다양한 선진 사례를 탐구하며 계속적으로 노력합니다. 뿐만
                            아니라 해외 파트너와의 지속적인 파트너십과 커뮤니케이션을 통해 커피의 맛과 브랜드를 발전시켜 나가고 있습니다.</p>
                    </div>
                    <div class="context on">
                        <h3>최상의 품질과 서비스를 제공하는<br /><span>전문 바리스타</span></h3>
                        <p>Paul Bassett은 ‘최고의 품질과 최상의 서비스로 완벽한
                            음식을 제공’ 할 수 있는 전문 바리스타를 양성합니다.</p>
                        <p>각 단계별 맞춤 설계된 교육 시스템은 Paul Bassett 기준에 맞는
                            ‘Sweet Dessert Style Espresso’ 를 추출할 수 있는 전문 바리스타육성은
                            물론 최상의 고객 서비스를 제공하는 서비스 전문가로의 성장을 지원합니다.</p>
                    </div>
                    <div class="context">
                        <h3>폴바셋 바리스타 챔피언십 대회<br /><span>Paul Bassett Barista Championship</span></h3>
                        <p>Paul Bassett은 올바른 커피 문화 선도와 바리스타 유망주의 발굴을
                            위해 Paul Bassett Barista Championship을 개최하고 있습니다.</p>
                        <p>Paul Bassett 바리스타라면 누구나 참가할 수 있으며, 바리스타 및 전문
                            심사위원으로 구성된 심사단으로부터 엄격한 평가를 거쳐 바리스타
                            챔피언을 선발합니다.</p>
                    </div>
                </div>
            </div>
            <div class="gradeWrap">
                <div class="center">
                    <h5>BARISTA GRADE</h5>
                    <div class="grade">
                        <ul>
                            <li>
                                <div class="listBox">
                                    <span>01</span>
                                    <h4>TRAINEE</h4>
                                    <p>폴 바셋 커피 철학의 이해<br />
                                        폴 바셋 바리스타의 기본 역량 강화</p>
                                </div>
                            </li>
                            <li>
                                <div class="listBox">
                                    <span>02</span>
                                    <h4>ROOKIE</h4>
                                    <p>폴 바셋 에스프레소 추출 기준 이해<br />
                                        고객 서비스 기준 이해</p>
                                </div>
                            </li>
                            <li>
                                <div class="listBox">
                                    <span>03</span>
                                    <h4>PROFESSIONAL</h4>
                                    <p>‘Sweet Dessert Style Espresso’<br />
                                        추출 및 서비스 전문가 역량 강화</p>
                                </div>
                            </li>
                            <li>
                                <div class="listBox">
                                    <span>04</span>
                                    <h4>CAPTAIN</h4>
                                    <p>예비관리자 역할 이해<br />
                                        서비스 관리역량 강화</p>
                                </div>
                            </li>
                            <li>
                                <div class="listBox">
                                    <img src="img/symbol.png">
                                    <span>05</span>
                                    <h4>MANAGER</h4>
                                    <p>관리자 리더십 함양<br />
                                        매장 관리 역량 강화</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="cont4" class="content">
            <div class="longBg"></div>
            <div class="titleWrap">
                <div class="center">
                    <h2>COFFEE</h2>
                    <p>A Perfect Cup of Coffee for You</p>
                </div>
            </div>
            <div class="botWrap">
                <div class="center">
                    <div class="imgWrap">
                        <div class="imgBox short"></div>
                        <a href="menu.html" class="imgBox long">
                            <div class="imgCover"><img src="img/coffee01.jpg"></div>
                            <div class="textCover">
                                <h3>Paul Bassett X Huskee</h3>
                                <h2>허스키 컵 텀블러</h2>
                                <p>호주의 글로벌 친환경 기업 Huskee와 폴 바셋의 만남! 커피 생두 껍질(Husk)로 만든 친환경 업사이클 텀블러를 사용해 온실 가스 감축에 동참해보세요.</p>
                            </div>
                        </a>
                    </div>
                    <div class="imgWrap">
                        <a href="menu.html" class="imgBox long">
                            <div class="imgCover"><img src="img/coffee02.jpg"></div>
                            <div class="textCover">
                                <h3>Espresso</h3>
                                <h2>에스프레소</h2>
                                <p>전 세계 커피 생산량 중 7%정도 뿐인 스페셜티 원두 만으로 추출한 에스프레소 입니다. 향긋, 달콤하고 묵직하지만 쓰지 않은 새로운 에스프레소를 즐겨보세요.</p>
                            </div>
                        </a>
                        <div class="imgBox short"></div>
                    </div>
                    <div class="imgWrap">
                        <div class="imgBox short"></div>
                        <a href="menu.html" class="imgBox long">
                            <div class="imgCover"><img src="img/coffee03.jpg"></div>
                            <div class="textCover">
                                <h3>Icecream Cafe Latte</h3>
                                <h2>아이스크림 카페 라떼</h2>
                                <p>폴 바셋 에스프레소로 만든 고소한 라떼 위에 우유 본연의 풍미가 매력적인 상하목장 아이스크림을 토핑한 폴 바셋의 스테디 셀러입니다.</p>
                            </div>
                        </a>
                    </div>
                    <div class="imgWrap">
                        <a href="menu.html" class="imgBox long">
                            <div class="imgCover"><img src="img/coffee04.jpg"></div>
                            <div class="textCover">
                                <h3>Iced Decaf Blend</h3>
                                <h2>아이스 디카페인 블렌드</h2>
                                <p>땅콩, 마카다미아, 옥수수와 같은 고소함을 느낄 수 있는 폴 바셋만의 특별한 디카페인 브루잉 커피입니다.</p>
                            </div>
                        </a>
                        <div class="imgBox short"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cont5" class="content">
            <div class="patternBg"></div>
            <div class="titleWrap">
                <div class="center">
                    <h2>CONTRIBUTION</h2>
                    <p>Corporate Social Responsibility</p>
                    <span class="subText"><span>Paul Bassett</span>은 아동 후원, 환경 문제, 지역농가 상생 등의 다양한 방면에서<br /><span>기업의
                            사회적 책임(CSR)</span>을 다하기 위해 최선을 다하고 있습니다.</span>
                </div>
            </div>
            <div class="tabWrap">
                <div class="center">
                    <ul class="tabMenu">
                        <li class="on">
                            <a href="#">
                                <h2>1 Shop = 1 Child</h2>
                                <p>폴 바셋 매장 1곳 당 에티오피아 아동 1명을<br /> 매월 후원하고 있습니다.</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h2>Cup to Seed</h2>
                                <p>깨끗한 환경에서 자란 원두를<br/>최고의 커피로 돌려드리겠습니다.</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h2>Local Coexistence</h2>
                                <p>폴 바셋은 지역농가와의 상생으로<br />지속가능한 사회 발전을 모색하는 건강한 기업입니다.</p>
                            </a>
                        </li>
                    </ul>
                    <div class="tabContents">
                        <div class="tabBox on">
                            <div class="center">
                                <div class="textWrap">
                                    <h3>Paul Bassett에서는<br />
                                        커피생산국인 에티오피아<br />
                                        <span>아동을 후원</span>하고 있습니다.
                                    </h3>
                                    <p>Paul Bassett은 전 세계 커피 산업의 고른 발전을 위해 커피생산국인 에티오피아
                                        (에네모레나 에너 사업장) 아동을 후원하고 있습니다. 모든 매장은 오픈과 동시에 커피
                                        원산지이자 Paul Bassett 커피 생산국 에티오피아에 살고 있는 아동과 인연을 맺고
                                        후원을 시작합니다.<br /><br />
                                        Paul Bassett은 커피브랜드로서의 역할 뿐 아니라 사회와 함께 성장해나가는 브랜드가
                                        되기 위해 <span>“1 shop = 1 child”</span>라는 가치 아래 국제구호개발 전문 기관인 월드비전을
                                        통해 후원하고 있습니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tabBox">
                            <div class="center">
                                <div class="textWrap">
                                    <h3>깨끗한 환경을 위한
                                        폴 바셋의 약속</h3>
                                    <p>Paul Bassett은 최고의 커피를 위해 무엇보다도 깨끗한 환경의 필요성을 절감하며<br />Paul Bassett만의 <span>"Cup
                                            to Seed, Seed to Cup"</span> 환경 캠페인을 진행하고 있습니다.<br /><br />
                                        다음은 폴 바셋의 세가지 약속입니다.<br /><br />
                                        <span>1.</span> 폴 바셋은 불필요한 포장을 없애
                                        쓰레기를 줄이겠습니다.<br />
                                        <span>2.</span> 한 잔의 커피가 한 그루의 나무를
                                        지킬 수 있도록 폴바셋이 앞장서겠습니다.<br />
                                        <span>3.</span> 폴 바셋은 재활용이 용이한 소재를
                                        사용하겠습니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tabBox">
                            <div class="center">
                                <div class="textWrap">
                                    <h3><span>지역농가 상생</span>과 지속가능한 사회 발전</h3>
                                    <p>사회가 건강해야 기업이 건실하게 성장할 수 있고, 반대로 건강한 기업이 없다면 지속가능한 사회 발전을 기대하기가 어렵습니다. Paul
                                        Bassett은 지역 농산물의 부가가치를 높이기 위해 높은 품질의 국내산 농산물을 활용한
                                        메뉴를 개발하고 있습니다. 뛰어난 품질의 제품으로 더 많은 사람들에게 지역 농산물의 우수성을 알리고,
                                        <span>지역 농가와 상생하는 올바른 기업</span>이 될 수 있도록 Paul Bassett은 계속해서 노력 하겠습니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cont6" class="content">
            <div class="titleWrap">
                <div class="center">
                    <h2>MEMBERSHIP</h2>
                    <p>Exclusive Benefits for Platinum Member</p>
                </div>
            </div>
            <div class="contentsWrap">
                <div class="center">
                    <div class="wrap">
                        <div class="leftWrap">
                            <div class="slider">
                                <div class="view">
                                    <h2>Become the <span>Platinum Member</span></h2>
                                    <p>Platinum 회원이 되시면 더 풍성한 Exclusive Benefits으로 돌려받을 수 있습니다.</p>
                                    <ul>
                                        <li>회원가입 시</li>
                                        <li>회원계정에<br />폴 바셋 카드 등록 시</li>
                                        <li>크라운 5개 적립 시<br />(익일 승급)</li>
                                        <li>크라운 30개 적립 시<br />(익일 승급)</li>
                                    </ul>
                                </div>
                                <div class="view">
                                    <h2>Save up your <span>Own Crown</span></h2>
                                    <p>폴 바셋만의 특별한 브랜드, 크라운을 적립하면 다양한 혜택으로 돌려드립니다.</p>
                                    <div class="crownWrap">
                                        <h3>크라운 적립 방법</h3>
                                        <div class="wrapper">
                                            <div class="left">
                                                <p><span>적립 대상</span> : 모든 메뉴</p>
                                                <p><span>적립 기준</span> : 멤버십 카드 결제 1건당 크라운 1개 적립<br/>
                                                    - 3천원 이상 1만원 미만이면 1개 적립<br/>
                                                    - 1만원 이상부터 5천원 단위로 1개씩 추가 적립</p>
                                            </div>
                                            <div class="right">
                                                <p>크라운 <span>12개 적립</span> 시 다음 날 <span>무료음료쿠폰</span> 발급</p>
                                                <p>적립된 크라운은 <span>1년간 유지</span>되며 1년 경과 시<br/>순차적 소멸</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="prev"><a href="#"><i class="fa-solid fa-chevron-left"></i></a></button>
                                <button class="next"><a href="#"><i class="fa-solid fa-chevron-right"></i></a></button>
                            </div>
                        </div>
                        <div class="rightWrap">
                            <div class="textWrap">
                                <div class="img01"><img src="img/sublogo.png"></div>
                                <div class="img02"><img src="img/society.png"></div>
                                <p>Paul Bassett이 브랜드 회원만을 위해 새롭게 선보이는 멤버십 서비스 입니다.<br/>충전식 선불카드인 Paul Bassett Society Card로 결제 시 ‘크라운’이 적립되고,<br />등급별 ‘Exclusive
                                    Benefits’으로 돌려드립니다.</p>
                                <a href="society.html">더 알아보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include("footer")%>