<%- include("headerSub",
{title:"Menu | PaulBassett",
cssFiles:["menu.css"],
jsFiles:["menu/isotope.js"]})%>
<div id="container" class="beverage">
        <div class="cont1">
            <h1>BEVERAGE</h1>
            <p>폴 바셋의 특별한 레시피로 완성된 non coffee 음료</p>
        </div>
        <div class="cont2">
            <div class="menuWrap">
                <div class="center">
                    <ul class="menus">
                        <li><a class="link1_1" href="/menu/new">NEW</a></li>
                        <li><a class="link1_2" href="/menu/coffee">COFFEE</a></li>
                        <li class="on"><a class="link1_3" href="/menu/beverage">BEVERAGE</a></li>
                        <li><a class="link1_4" href="/menu/icecream">ICE-CREAM</a></li>
                        <li><a class="link1_5" href="/menu/food">FOOD</a></li>
                        <li><a class="link1_6" href="/menu/product">PRODUCT</a></li>
                    </ul>
                </div>
            </div>
            <div class="productWrap">
                <div class="center">
                    <div class="box">
                        <h3 class="new">NEW</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/beverage01.png">
                        </div>
                        <h2>제주 말차 라떼</h2>
                        <span>Jeju Malcha Latte</span>
                    </div>
                    <div class="box">
                        <h3 class="new">NEW</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/beverage02.png">
                        </div>
                        <h2>아이스 제주 말차 라떼</h2>
                        <span>Ice Jeju Malcha Latte</span>
                    </div>
                    <div class="box">
                        <h3 class="best">BEST</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/beverage03.jpg">
                        </div>
                        <h2>제주 한라봉 에이드</h2>
                        <span>Jeju Hallabong Ade</span>
                    </div>
                    <div class="box">
                        <h3 class="best">BEST</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/beverage04.png">
                        </div>
                        <h2>발로나 초콜릿 프라페</h2>
                        <span>Valrhona Chocolate Frappe</span>
                    </div>
                    <div class="box">
                        <h3 class="best">BEST</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/beverage05.jpg">
                        </div>
                        <h2>제주 한라봉 티</h2>
                        <span>Hallabong Tea</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/beverage06.jpg">
                        </div>
                        <h2>포숑 얼그레이</h2>
                        <span>Fauchon Earl Grey</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/beverage07.jpg">
                        </div>
                        <h2>포숑 캐모마일티</h2>
                        <span>Fauchon Chamomile</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/beverage08.jpg">
                        </div>
                        <h2>포숑 페퍼민트티</h2>
                        <span>Fauchon Pappermint</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/beverage09.png">
                        </div>
                        <h2>아이스 밀크 초콜릿</h2>
                        <span>Ice Milk Chocolate</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/beverage10.png">
                        </div>
                        <h2>아이스 다크 초콜릿</h2>
                        <span>Ice Dark Chocolate</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/beverage11.jpg">
                        </div>
                        <h2>플레인 요거트</h2>
                        <span>Plain Yogurt</span>
                    </div>
                    <div class="box">
                        <h3 class="best">BEST</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/beverage12.jpg">
                        </div>
                        <h2>스트로베리 요거트</h2>
                        <span>Strawberry Yogurt</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("footerSub")%>