<%- include("headerSub",
{title:"Menu | PaulBassett",
cssFiles:["menu.css"],
jsFiles:["menu/isotope.js"]})%>
    <div id="container" class="icecream">
        <div class="cont1">
            <h1>ICE-CREAM</h1>
            <p>상하목장 우유로 만든 깊고 풍부한 유풍미의 프리미엄 소프트 아이스크림</p>
        </div>
        <div class="cont2">
            <div class="menuWrap">
                <div class="center">
                    <ul class="menus">
                        <li><a class="link1_1" href="/menu/new">NEW</a></li>
                        <li><a class="link1_2" href="/menu/coffee">COFFEE</a></li>
                        <li><a class="link1_3" href="/menu/beverage">BEVERAGE</a></li>
                        <li class="on"><a class="link1_4" href="/menu/icecream">ICE-CREAM</a></li>
                        <li><a class="link1_5" href="/menu/food">FOOD</a></li>
                        <li><a class="link1_6" href="/menu/product">PRODUCT</a></li>
                    </ul>
                </div>
            </div>
            <div class="productWrap">
                <div class="center">
                    <div class="box">
                        <h3 class="new">NEW</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/icecream01.png">
                        </div>
                        <h2>제주말차 아이스크림 (콘)</h2>
                        <span>Jeju Malcha Ice-cream (Cone)</span>
                    </div>
                    <div class="box">
                        <h3 class="new">NEW</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/icecream02.png">
                        </div>
                        <h2>제주말차 아이스크림 (컵)</h2>
                        <span>Jeju Malcha Ice-cream (Cup)</span>
                    </div>
                    <div class="box">
                        <h3 class="new">NEW</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/icecream03.png">
                        </div>
                        <h2>제주말차 그래놀라 디저트컵</h2>
                        <span>Jeju Malcha Granola Dessert Cup</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/icecream04.jpg">
                        </div>
                        <h2>밀크 소프트 아포가토</h2>
                        <span>Milk Soft Affogato</span>
                    </div>
                    <div class="box">
                        <h3 class="best">BEST</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/icecream05.jpg">
                        </div>
                        <h2>밀크 아이스크림 (콘)</h2>
                        <span>Milk Ice-cream (Cone)</span>
                    </div>
                    <div class="box">
                        <h3 class="best">BEST</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/icecream06.jpg">
                        </div>
                        <h2>밀크 아이스크림 (컵)</h2>
                        <span>Milk Ice-cream (Cup)</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/icecream07.png">
                        </div>
                        <h2>피스타치오 아이스크림 (컵)</h2>
                        <span>Pistachio Ice-cream (cup)</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/icecream08.png">
                        </div>
                        <h2>초콜릿 아이스크림 (컵)</h2>
                        <span>Chocolate Ice-cream (cup)</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/icecream09.png">
                        </div>
                        <h2>피스타치오 아이스크림 (콘)</h2>
                        <span>Pistachio Ice-cream (cone)</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/icecream10.png">
                        </div>
                        <h2>초콜릿 아이스크림 (콘)</h2>
                        <span>Chocolate Ice-cream (cone)</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/icecream11.png">
                        </div>
                        <h2>스트로베리 그래놀라 디저트컵</h2>
                        <span>Strawberry Granola Dessert Cup</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/icecream12.png">
                        </div>
                        <h2>블루베리 그래놀라 디저트컵</h2>
                        <span>Blueberry Granola Dessert Cup</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("footerSub")%>