<%- include("headerSub",
{title:"Menu | PaulBassett",
cssFiles:["menu.css"],
jsFiles:[]})%>
    <div id="container" class="product">
        <div class="cont1">
            <h1>PRODUCT</h1>
            <p>폴 바셋의 클래식 MD 상품들을 만나보세요</p>
        </div>
        <div class="cont2">
            <div class="menuWrap">
                <div class="center">
                    <ul class="menus">
                        <li><a class="link1_1" href="/menu/new">NEW</a></li>
                        <li><a class="link1_2" href="/menu/coffee">COFFEE</a></li>
                        <li><a class="link1_3" href="/menu/beverage">BEVERAGE</a></li>
                        <li><a class="link1_4" href="/menu/icecream">ICE-CREAM</a></li>
                        <li><a class="link1_5" href="/menu/food">FOOD</a></li>
                        <li class="on"><a class="link1_6" href="/menu/product">PRODUCT</a></li>
                    </ul>
                </div>
            </div>
            <div class="productWrap">
                <div class="center">
                    <div class="box">
                        <h3 class="new">NEW</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/product01.jpg">
                        </div>
                        <h2>허스키 컵 텀블러 (16oz)</h2>
                        <span>Huskee Cup Tumbler (16oz)</span>
                    </div>
                    <div class="box">
                        <h3 class="new">NEW</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/product02.jpg">
                        </div>
                        <h2>스키틀 트래블 머그 (12oz)</h2>
                        <span>Skittle Travel Mug (12oz)</span>
                    </div>
                    <div class="box">
                        <h3 class="new">NEW</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/product03.jpg">
                        </div>
                        <h2>스키틀 보틀 (10oz)</h2>
                        <span>Skittle Bottle (10oz)</span>
                    </div>
                    <div class="box">
                        <h3 class="new">NEW</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/product04.jpg">
                        </div>
                        <h2>스키틀 램프</h2>
                        <span>Skittle Lamp</span>
                    </div>
                    <div class="box">
                        <h3 class="new">NEW</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/product05.png">
                        </div>
                        <h2>에스프레소 잔 세트 (화이트)</h2>
                        <span>Espresso Cup Set (White)</span>
                    </div>
                    <div class="box">
                        <h3 class="new">NEW</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/product06.png">
                        </div>
                        <h2>에스프레소 잔 세트 (블랙)</h2>
                        <span>Espresso Cup Set (Black)</span>
                    </div>
                    <div class="box">
                        <h3 class="best">BEST</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/product07.jpg">
                        </div>
                        <h2>폴 바셋 바리스타 파우치<br/>시그니처 블랜드</h2>
                        <span>Signature Blend</span>
                    </div>
                    <div class="box">
                        <h3 class="best">BEST</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/product08.jpg">
                        </div>
                        <h2>폴 바셋 시그니처 블랜드 200g</h2>
                        <span>Signature Blend 200g</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/product09.jpg">
                        </div>
                        <h2>콜롬비아 200g</h2>
                        <span>Colombia 200g</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/product10.jpg">
                        </div>
                        <h2>과테말라 200g</h2>
                        <span>Guatemala 200g</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/product11.jpg">
                        </div>
                        <h2>브라질 200g</h2>
                        <span>Brazil 200g</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/product12.jpg">
                        </div>
                        <h2>에테오피아 200g</h2>
                        <span>Ethiopia 200g</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("footerSub")%>