<%- include("headerSub",
{title:"Menu | PaulBassett",
cssFiles:["menu.css"],
jsFiles:[]})%>
    <div id="container" class="food">
        <div class="cont1">
            <h1>FOOD</h1>
            <p>폴 바셋 프리미엄 푸드로 때로는 달콤함을, 때로는 든든함을 느껴보세요</p>
        </div>
        <div class="cont2">
            <div class="menuWrap">
                <div class="center">
                    <ul class="menus">
                        <li><a class="link1_1" href="/menu/new">NEW</a></li>
                        <li><a class="link1_2" href="/menu/coffee">COFFEE</a></li>
                        <li><a class="link1_3" href="/menu/beverage">BEVERAGE</a></li>
                        <li><a class="link1_4" href="/menu/icecream">ICE-CREAM</a></li>
                        <li class="on"><a class="link1_5" href="/menu/food">FOOD</a></li>
                        <li><a class="link1_6" href="/menu/product">PRODUCT</a></li>
                    </ul>
                </div>
            </div>
            <div class="productWrap">
                <div class="center">
                    <div class="box">
                        <h3 class="new">NEW</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/food01.png">
                        </div>
                        <h2>상하농원 에그 샌드위치</h2>
                        <span>Egg Sandwich</span>
                    </div>
                    <div class="box">
                        <h3 class="new">NEW</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/food02.png">
                        </div>
                        <h2>공주알밤 앙금빵</h2>
                        <span>Chestnut Bread</span>
                    </div>
                    <div class="box">
                        <h3 class="new">NEW</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/food03.png">
                        </div>
                        <h2>오트 크림롤</h2>
                        <span>Oat Cream Roll</span>
                    </div>
                    <div class="box">
                        <h3 class="best">BEST</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/food04.jpg">
                        </div>
                        <h2>포숑 마카롱 세트</h2>
                        <span>Fauchon Macaron Set</span>
                    </div>
                    <div class="box">
                        <h3 class="best">BEST</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/food05.png">
                        </div>
                        <h2>나타 오리지널</h2>
                        <span>Nata Original</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/food06.jpg">
                        </div>
                        <h2>까눌레</h2>
                        <span>Cannele</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/food07.png">
                        </div>
                        <h2>크루아상</h2>
                        <span>Croissant</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/food08.png">
                        </div>
                        <h2>옥수수 치즈 브레드</h2>
                        <span>Corn Cheese Bread</span>
                    </div>
                    <div class="box">
                        <h3 class="best">BEST</h3>
                        <div class="imgWrap">
                            <img src="/img/menu/food09.jpg">
                        </div>
                        <h2>우유크림 빵</h2>
                        <span>Milk Cream Bread</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/food10.jpg">
                        </div>
                        <h2>우유크림 롤</h2>
                        <span>Milk Cream Roll</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/food11.jpg">
                        </div>
                        <h2>밀크 소프트 케이크</h2>
                        <span>Milk Soft Cake</span>
                    </div>
                    <div class="box">
                        <div class="imgWrap">
                            <img src="/img/menu/food12.jpg">
                        </div>
                        <h2>바스크 치즈 케이크</h2>
                        <span>Basque Cheese Cake</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("footerSub")%>