<%- include("headerSub",
{title:"SOCIETY | PaulBassett",
cssFiles:["society.css"],
jsFiles:[]})%>
    <div id="container" class="ecard">
        <div class="cont1">
            <h1><span>e-Card</span> 선물</h1>
        </div>
        <div class="cont2">
            <div class="center">
                <div class="wrap">
                    <h2>e-Card 선물하기란?</h2>
                    <h3>Paul Bassett 매장 방문 없이 e-Card를 사랑하는 친구/지인에게 선물해보세요.</h3>
                    <p>카드 디자인을 직접 선택하여 충전하신 후 휴대폰 MMS를 통해 선물하실 수 있습니다.
                        Paul Bassett 매장을 방문하여 카드를 직접 구매하고 선물하는 번거로움 없이 홈페이지 또는 모바일 APP에서 간편하게 e-Card를 휴대폰 MMS로 즉시발송 또는 예약발송으로 선물하실 수 있습니다.</p>
                    <a href="#">e-Card 선물하기</a>
                </div>
            </div>
        </div>
    </div>
<%- include("footerSub")%>