<%- include("headerSub",
{title:"SOCIETY | PaulBassett",
cssFiles:["society.css"],
jsFiles:[]})%>
    <div id="container" class="rating">
        <div class="cont1">
            <h1>회원 등급 혜택</h1>
        </div>
        <div class="cont2">
            <div class="topWrap">
                <div class="center">
                    <div class="textWrap">
                        <img src="/img/society/smallLogo.png">
                        <h3>EXCLUSIVE BENEFITS</h3>
                        <h2><span>각 등급</span>에 따른 <span>혜택</span>을 지금 확인 하세요!</h2>
                        <p>회원가입 및 폴 바셋 카드를 등록하시면, 해당 카드로 결제 시 마다 크라운을 적립해 드립니다. (3천원 이상 결제 건에 해당)</p>
                        <p>폴 바셋 카드로 1만원 이상 결제 시에는 5천원 당 크라운을 추가로 적립해 드립니다.<br/>
                            쌓이는 크라운에 따라 회원 등급이 오르고, 혜택 또한 많아 집니다.</p>
                    </div>
                </div>
            </div>
            <div class="botWrap">
                <div class="center">
                    <div class="topList">
                        <ul>
                            <li>
                                <span>Level</span>
                                <h2>등급 기준</h2>
                            </li>
                            <li>
                                <div></div>
                                <span class="icontext">Welcome</span>
                                <p>회원가입 시</p>
                            </li>
                            <li>
                                <div></div>
                                <span class="icontext">Red</span>
                                <p>회원계정에<br/>
                                    폴 바셋 카드 등록 시</p>
                            </li>
                            <li>
                                <div></div>
                                <span class="icontext">Gold</span>
                                <p>크라운 5개 적립 시<br/>
                                    (익일 승급)</p>
                            </li>
                            <li>
                                <div></div>
                                <span class="icontext">Platinum</span>
                                <p>크라운 30개 적립 시<br/>
                                    (익일 승급)</p>
                            </li>
                        </ul>
                    </div>
                    <div class="botList">
                        <ul>
                            <li>
                                <span>Exclusive Benefits</span>
                                <h2>등급 혜택</h2>
                            </li>
                            <li>
                                <p>e-Stamp 프로모션 시 참여 가능</p>
                                <p>첫 구매 무료 음료 쿠폰</p>
                            </li>
                            <li>
                                <p>e-Stamp 프로모션 시 참여 가능</p>
                                <p>크라운 12개 적립 무료 음료 쿠폰</p>
                                <p>분실 신고 시 카드 잔액 보호</p>
                            </li>
                            <li>
                                <p>e-Stamp 프로모션 시 참여 가능</p>
                                <p>크라운 12개 적립 무료 음료 쿠폰</p>
                                <p>분실 신고 시 카드 잔액 보호</p>
                                <p>생일 축하 무료 음료 쿠폰</p>
                                <p>프로모션 시 다양한 혜택 제공</p>
                            </li>
                            <li>
                                <p>e-Stamp 프로모션 시 참여 가능</p>
                                <p>크라운 12개 적립 무료 음료 쿠폰</p>
                                <p>분실 신고 시 카드 잔액 보호</p>
                                <p>생일 축하 무료 음료 쿠폰</p>
                                <p>프로모션 시 다양한 혜택 제공</p>
                                <p>추첨을 통한 행사 참여 기회 제공</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("footerSub")%>