<%- include("headerSub",
{title:"SOCIETY | PaulBassett",
cssFiles:["society.css"],
jsFiles:[""]})%>
    <div id="container" class="partnership">
        <div class="cont1">
            <h1>제휴 혜택 안내</h1>
        </div>
        <div class="cont2">
            <h1>Paul Bassett 제휴 혜택 소개</h1>
            <div class="center">
                <div class="boxWrap">
                    <h2>간편결제 카카오페이</h2>
                    <div class="context">
                        <img src="/img/society/partnership01.png">
                        <div class="text">
                            <h3>[카카오페이 머니, 카카오페이 카드 결제 가능]</h3>
                            <p>소사이어티 카드 충전 불가</p>
                            <p>크라운오더 사용 불가</p>
                            <h4>제외 매장</h4>
                            <span>백화점, 아울렛 등 일부 인샵 매장 제외</span>
                        </div>
                    </div>
                </div>
                <div class="boxWrap">
                    <h2>간편결제 PAYCO</h2>
                    <div class="context">
                        <img src="/img/society/partnership02.png">
                        <div class="text">
                            <h3>[PAYCO 카드, 쿠폰, 포인트로 결제 가능]</h3>
                            <p>소사이어티 카드 충전 불가</p>
                            <p>크라운오더 사용 불가</p>
                            <h4>제외 매장</h4>
                            <span>백화점, 아울렛 등 일부 인샵 매장 제외</span>
                        </div>
                    </div>
                </div>
                <div class="boxWrap">
                    <h2>현대카드 H-Coin</h2>
                    <div class="context">
                        <img src="/img/society/partnership03.png">
                        <div class="text">
                            <h3>[H-coin 현금처럼 100% 사용 가능]</h3>
                            <p>소사이어티 카드 충전 불가</p>
                            <p>크라운오더 사용 불가</p>
                            <h4>제외 매장</h4>
                            <span>백화점, 아울렛 등 인샵 매장 제외</span>
                        </div>
                    </div>
                </div>
                <div class="boxWrap">
                    <h2>신한카드 THE ACE BLUE LABEL</h2>
                    <div class="context">
                        <img src="/img/society/partnership04.png">
                        <div class="text">
                            <h3>[무료 음료 서비스]</h3>
                            <p>룽고S, 카페라떼S, 카푸치노S 중 선택 가능</p>
                            <p>월 1회(최대 2잔)/ 연 12회(최대 24잔) 제공</p>
                            <h4>제외 매장</h4>
                            <span>백화점, 아울렛 등 인샵 매장 제외</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("footerSub")%>