<%- include("headerSub",
{title:"STORE | PaulBassett",
cssFiles:["store.css"],
jsFiles:[""]})%>
    <div id="container">
        <!-- 임의로 설정 -->
        <img src="img/testmap.png">
    </div>
<%- include("footerSub")%>