<%- include("headerSub",
{title:"UTILITY MENU | PaulBassett",
cssFiles:["util_menu.css"],
jsFiles:[]})%>
    <div id="container">
        <div class="cont1">
            <img src="/img/util_menu/symbol.png">
            <h1>PaulBassett Utility</h1>
            <p>폴 바셋의 유틸리티 메뉴 및 문의사항 페이지입니다.</p>
        </div>
        <div class="cont2">
            <div class="center">
                <ul class="menus">
                    <li class="on"><a href="/util_menu/qna">문의하기</a></li>
                    <li><a href="/util_menu/recruit">채용안내</a></li>
                    <li><a href="/util_menu/contactus">신규입점제의</a></li>
                    <li><a href="/util_menu/coffeebeans">납품문의</a></li>
                </ul>
            </div>
        </div>
        <div class="cont3">
            <div class="view qna">
                <div class="top">
                    <div class="title">
                        <img src="/img/util_menu/tab03Logo.png">
                        <h2>문의하기</h2>
                        <h3>Paul Bassett에게 바라는 점 및 건의사항을 문의해주세요.<br/>
                        언제나 고객님들의 피드백을 적극적으로 수용하도록 노력하겠습니다.</h3>
                        <a href="/board/list">고객의견 보내기</a>
                    </div>
                </div>
                <div class="bot"></div>
            </div>
        </div>
    </div>
<%- include("footerSub")%>