<%- include("headerSub",
{title:"UTILITY MENU | PaulBassett",
cssFiles:["util_menu.css"],
jsFiles:[]})%>
    <div id="container">
        <div class="cont1">
            <img src="/img/util_menu/symbol.png">
            <h1>PaulBassett Utility</h1>
            <p>폴 바셋의 유틸리티 메뉴 및 문의사항 페이지입니다.</p>
        </div>
        <div class="cont2">
            <div class="center">
                <ul class="menus">
                    <li><a href="/util_menu/qna">문의하기</a></li>
                    <li><a href="/util_menu/recruit">채용안내</a></li>
                    <li class="on"><a href="/util_menu/contactus">신규입점제의</a></li>
                    <li><a href="/util_menu/coffeebeans">납품문의</a></li>
                </ul>
            </div>
        </div>
        <div class="cont3">
            <div class="view contactus">
                <div class="top">
                    <div class="title">
                        <img src="/img/util_menu/tab04Logo.png">
                        <h2>신규 입점 제의</h2>
                        <h3>커피전문점 <span>Paul Bassett</span> 파트너로 모십니다.</h3>
                        <p>Paul Bassett 커피 전문점은 국내 고품격 커피브랜드로서 건물의 가치 및 인지도 상승을 확신합니다.<br/>
                            저희 Paul Bassett과 파트너로 함께 하시는데 관심이 있으신 분은 하단의 번호로 연락해 주시면 친절하고 상세하게 상담해 드리겠습니다.</p>
                    </div>
                </div>
                <div class="bot">
                    <div class="center">
                        <div class="left">
                            <h2>운영방식</h2>
                            <div class="icon"></div>
                            <p>Paul Bassett은 모든 매장을 본사가 직접 운영 및<br/>
                                관리하는 직영점 형태로 운영하고 있습니다.</p>
                            <p>개인이 투자하여 운영하실 수 있는 가맹점/체인점<br/>
                                개설이 불가능함을 안내해드립니다.</p>
                        </div>
                        <div class="right">
                            <h2>임대방식</h2>
                            <div class="icons">
                                <div></div>
                                <div></div>
                            </div>
                            <p>
                                <span>* 수수료 방식이란?</span><br/>
                                고정된 임대료 지급 방식이 아닌, 매출의 일정 비율을 건물주님께 지급하는 방식입니다.<br/>
                                예) 월 매출 1억원 수수료율 12% : 월 임대료 1,200만원(부가세 별도)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("footerSub")%>