<%- include("headerSub",
{title:"UTILITY MENU | PaulBassett",
cssFiles:["util_menu.css"],
jsFiles:[""]})%>
    <div id="container">
        <div class="cont1">
            <img src="/img/util_menu/symbol.png">
            <h1>PaulBassett Utility</h1>
            <p>폴 바셋의 유틸리티 메뉴 및 문의사항 페이지입니다.</p>
        </div>
        <div class="cont2">
            <div class="center">
                <ul class="menus">
                    <li class="on"><a href="/util_menu/faq">FAQ</a></li>
                    <li><a href="/util_menu/qna">문의하기</a></li>
                    <li><a href="/util_menu/recruit">채용안내</a></li>
                    <li><a href="/util_menu/contactus">신규입점제의</a></li>
                    <li><a href="/util_menu/coffeebeans">납품문의</a></li>
                </ul>
            </div>
        </div>
        <div class="cont3">
            <div class="view faq">
                <div class="top">
                    <div class="title">
                        <img src="/img/util_menu/tab03Logo.png">
                        <h2>Frequently Asked Questions</h2>
                        <h3>Paul Bassett 자주하는 질문입니다.</h3>
                    </div>
                </div>
                <div class="bot">
                    <div class="center">
                        <div class="question"><span>Q</span>[탄소중립실천포인트] 오늘 실적을 쌓았는데 ‘실천포인트 조회’에서 실적 확인이 불가해요!</div>
                        <div class="question"><span>Q</span>[탄소중립실천포인트] 개인컵 사용 주문은 어떻게 해야 실적 인정이 가능한가요?</div>
                        <div class="question"><span>Q</span>[탄소중립실천포인트] 전자 영수증은 어떻게 발급받을 수 있나요?</div>
                        <div class="question"><span>Q</span>폴 바셋 젤라또 컵 아이스크림(100ml)의 카페인 함량은 어떻게 되나요?</div>
                        <div class="question"><span>Q</span>바리스타 파우치(드립백)의 카페인 함량은 어떻게 되나요?</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("footerSub")%>