<%- include("headerSub",
{title:"UTILITY MENU | PaulBassett",
cssFiles:["util_menu.css"],
jsFiles:[""]})%>
    <div id="container">
        <div class="cont1">
            <img src="/img/util_menu/symbol.png">
            <h1>PaulBassett Utility</h1>
            <p>폴 바셋의 유틸리티 메뉴 및 문의사항 페이지입니다.</p>
        </div>
        <div class="cont2">
            <div class="center">
                <ul class="menus">
                    <li><a href="/util_menu/faq">FAQ</a></li>
                    <li><a href="/util_menu/qna">문의하기</a></li>
                    <li><a href="/util_menu/recruit">채용안내</a></li>
                    <li><a href="/util_menu/contactus">신규입점제의</a></li>
                    <li class="on"><a href="/util_menu/coffeebeans">납품문의</a></li>
                </ul>
            </div>
        </div>
        <div class="cont3">
            <div class="view coffeebeans">
                <div class="top">
                    <div class="logoWrap">
                        <img src="/img/util_menu/tab05Logo.png">
                        <p>SIGNATURE BLEND</p>
                    </div>
                    <h2>원두 납품 안내</h2>
                    <p>엄선된 원두로 직접 로스팅한 후, 폴바셋만의 비법으로 블렌딩하여 탄생한 Paul Bassett의 대표원두인 <span>“시그니처 블랜드(Signature Blend)”</span>와<br/>
                        폴 바셋에게 사사받은 오랜 경력의 전문 바리스타 출신<span>“Coffee Ambassador”</span>의 관리 서비스 프로그램을 제안합니다</p>
                </div>
                <div class="bot">
                    <div class="center">
                        <h2>SIGNATURE BLEND</h2>
                        <div class="wrap">
                            <div class="context">
                                <div class="icon"></div>
                                <div class="text">
                                    <h3>스페셜티 생두 셀렉션</h3>
                                    <p>제 4회 월드 바리스타 챔피언십 최연소 우승자 폴 바셋은 세계 커피 산지와 농장에서 해마다 최상급 생두를 직접 선별합니다.</p>
                                </div>
                            </div>
                            <div class="context">
                                <div class="icon"></div>
                                <div class="text">
                                    <h3>국내 로스팅 및 철저한 생산관리 시스템</h3>
                                    <p>Paul Bassett 국내 전용 로스팅 팩토리에서 특유의 프로파일로 생두를 볶아 30분 이내 포장, 질소 충전하여 잔존 산소량을 1% 이하로 구현하는 철저한 생산관리 시스템 아래 관리되고 있습니다.</p>
                                </div>
                            </div>
                            <div class="context">
                                <div class="icon"></div>
                                <div class="text">
                                    <h3>생두의 철저한 항온 항습 관리</h3>
                                    <p>산지에서 국내로 입고되어 운송되는 생두가 외부의 영향을 최소한으로 받을 수 있도록 철저히 관리합니다. 국내에 입고된 생두는 온도(15~20℃), 습도(55~60%) 유지를 최적화한 창고에서 시스템으로 철저하게 관리합니다.</p>
                                </div>
                            </div>
                            <div class="context">
                                <div class="icon"></div>
                                <div class="text">
                                    <h3>폴 바셋 시그니처 블렌드의 다양한 맛과 향</h3>
                                    <p>전 세계의 다양한 커피 원산지와 농장을 다니며, 엄선한 원두를 특유의 방법으로 로스팅 및 블렌딩하여 “Sweet Dessert Style”의 커피 진하고 달콤한 초콜릿의 맛과 상큼한 신맛이 이루는 조화가 일품이며 우유와 함께 즐기셔도그 풍미를 느낄 수 있습니다. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("footerSub")%>