<%- include("headerSub",
{title:"WHAT'S NEW | PaulBassett",
cssFiles:["whatsnew.css"],
jsFiles:[""]})%>
    <div id="container">
        <div class="cont1">
            <h1>EVENT / NEWS</h1>
        </div>
        <div class="cont2">
            <div class="center">
                <h2>New Events</h2>
                <p>업데이트된 폴 바셋의 새로운 소식들을 전달해드립니다.</p>
                <div class="boxWrap">
                    <div class="box">
                        <img src="/img/whatsnew/event&news01.jpg">
                        <h3>[신제품] 상하농원 에그샌드위치</h3>
                    </div>
                    <div class="box">
                        <img src="/img/whatsnew/event&news02.jpg">
                        <h3>[신제품] 토마토 주스</h3>
                    </div>
                    <div class="box">
                        <img src="/img/whatsnew/event&news03.jpg">
                        <h3>폴 바셋 X 허스키 컵 텀블러</h3>
                    </div>
                    <div class="box">
                        <img src="/img/whatsnew/event&news04.jpg">
                        <h3>[신제품] 시그니처 블렌드 스틱 커피</h3>
                    </div>
                    <div class="box">
                        <img src="/img/whatsnew/event&news05.jpg">
                        <h3>[신제품] 폴 바셋 전통음료 3종</h3>
                    </div>
                    <div class="box">
                        <img src="/img/whatsnew/event&news06.jpg">
                        <h3>[신제품] 제주말차 음료 & 아이스크림</h3>
                    </div>
                    <div class="box">
                        <img src="/img/whatsnew/event&news07.jpg">
                        <h3>폴 바셋 홀케이크 예약 판매</h3>
                    </div>
                    <div class="box">
                        <img src="/img/whatsnew/event&news08.jpg">
                        <h3>[신제품] 에스프레소 잔 세트</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("footerSub")%>