<%- include("headerSub",
{title:"WHAT'S NEW | PaulBassett",
cssFiles:["whatsnew_notice.css"],
jsFiles:[""]})%>
    <div id="container">
        <!-- 임의로 설정 -->
        게시판
    </div>
<%- include("footerSub")%>